<head>
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<div class="container" id="container">
	
	<div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
      <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()" action="Register" style="margin-right: 10px;" class="login_form">
        <h3>Login Here</h3>
      
        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username" formControlName="emailId" class="form-control" [ngClass]="{error: submitted || f['emailId'].touched && getControl('emailId').errors}">
        <div *ngIf="(submitted || f['emailId'].touched) && f['emailId'].errors" class="text-danger small">
            <span *ngIf="f['emailId'].errors?.['required']">Email Id is required</span>
            <span *ngIf="f['emailId'].errors?.['pattern']">Please enter valid Email Id</span>
        </div>
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" formControlName="password" [ngClass]="{error: submitted ||  f['password'].touched
        && getControl('password').errors
    
    }">
    <div *ngIf="(submitted || f['password'].touched) && f['password'].errors" class="text-danger small">
        <span *ngIf="f['password'].errors?.['required']">Password is required</span>
    </div>
      
        <button>Log In</button>
       
      </form>
	<div class="overlay-container">
		<!-- <div class="overlay"> -->
			<img style="width: 100%; height: 100%; animation: fadeImg 1s ease-in-out forwards;"src="assets/login3.jpg" alt="Background Image">
		<!-- </div> -->
	</div>
</div>
<script>
    ScrollReveal({
        reset : true ,
        distance : '60px',
        duration:2500,
        delay:400
    })

    ScrollReveal().reveal('login_form',{delay:500,origin:'left'})
</script>