
<h1>Show all Categoreis</h1>
<div class=""style="display: flex;">
  <!-- <div class="row-md-6 border"> -->

    <div class="container">
      <div class="product-card">
        <div class="product-img">
          <div class="bg-style">
            <img src="assets/7475.g" alt="product_image">
          </div>
        </div>
        <div class="product-content">
          
          <div class="product-name">
            <div class="brand-name">Dairy</div>
            <!-- <div class="product-title">Air Zoom Pegasus Flyease</div> -->
            <!-- <div class="product-desc">
              Running Shoes for Men (Black)
            </div> -->
          </div>
          <div class="action-btn">
            <!-- <button class="buy-now">Buy Now</button> -->
            <!-- <button class="add-to-cart">Add to Cart</button> -->
          </div>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="container">
      <div class="product-card">
        <div class="product-img">
          <div class="bg-style">
            <img src="assets/product_image.png" alt="product_image">
          </div>
        </div>
        <div class="product-content">
          <!-- <div class="price"><span>$99.9</span></div> -->
          <div class="product-name">
            <div class="brand-name">Fruits</div>
            <!-- <div class="product-title">Air Zoom Pegasus Flyease</div> -->
            <!-- <div class="product-desc">
              Running Shoes for Men (Black)
            </div> -->
          </div>
          <div class="action-btn">
            <!-- <button class="buy-now">Buy Now</button>
            <button class="add-to-cart">Add to Cart</button> -->
          </div>
        </div>
      <!-- </div> -->
    </div>

    <!-- 3rd Div -->
    <div class="product-card">
      <div class="product-img">
        <div class="bg-style">
          <img src="assets/product_image.png" alt="product_image">
        </div>
      </div>
      <div class="product-content">
        <!--  -->
        <div class="product-name">
          <div class="brand-name">Vegetables</div>
          <!-- <div class="product-title">Air Zoom Pegasus Flyease</div>
          <div class="product-desc">
            Running Shoes for Men (Black)
          </div> -->
        </div>
        <!-- <div class="action-btn">
          <button class="buy-now">Buy Now</button>
          <button class="add-to-cart">Add to Cart</button>
        </div> -->
      </div>
    <!-- </div> -->
  </div>

  <!-- 4th Div -->
  <div class="product-card">
    <div class="product-img">
      <div class="bg-style">
        <img src="assets/product_image.png" alt="product_image">
      </div>
    </div>
    <div class="product-content">
      <!--  -->
      <div class="product-name">
        <div class="brand-name"></div>
        <!-- <div class="product-title">Air Zoom Pegasus Flyease</div>
        <div class="product-desc">
          Running Shoes for Men (Black)
        </div> -->
      </div>
      <!-- <div class="action-btn">
        <button class="buy-now">Buy Now</button>
        <button class="add-to-cart">Add to Cart</button>
      </div> -->
    </div>
  <!-- </div> -->
</div>

<!-- 3rd Div -->
<div class="product-card">
  <div class="product-img">
    <div class="bg-style">
      <img src="assets/product_image.png" alt="product_image">
    </div>
  </div>
  <div class="product-content">
    <!--  -->
    <div class="product-name">
      <div class="brand-name">Nike</div>
      <!-- <div class="product-title">Air Zoom Pegasus Flyease</div>
      <div class="product-desc">
        Running Shoes for Men (Black)
      </div> -->
    </div>
    <!-- <div class="action-btn">
      <button class="buy-now">Buy Now</button>
      <button class="add-to-cart">Add to Cart</button>
    </div> -->
  </div>
<!-- </div> -->
</div>
  <!-- </div> -->
</div>
